$dolPrimary: #7c2a23;

#block-elastic-search-filters {
  display:flex;
  button, input, select, textarea {
    height: 3.4em;
    line-height: 1;
  }
  .card-header {
    padding: 0;
    background-color: transparent;
    border-bottom: none;

    i {
      position: absolute;
      color: white;
      font-size: 17px;
      margin-left: 11px;
    }
  }
  .card {
    border:none;
  }
  .card-block {
    background-color: #F1F1F1;
    margin: 2em 1em 0 1em;
  }
  #collapseOne {
    background-color: #F1F1F1;
    margin: 0 !important;
    border: none !important;
    padding-bottom: 2em;
  }
  label {
    margin: 0;
    padding: 0;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .elastic-search {
    input {
      margin: 1px !important;
    }
    button {
      height: auto !important;
    }
  }
  .elastic-filter-container {
    max-width: 72em;
    margin: 0 auto;
    #collapseOne {
      padding-top: 1em;
      .elastic-sort {
        select {
          width: 145px;
        }
      }
    }
  }
}
.elastic-search {
  background-color: #F1F1F1 !important;
  #breadcrumbs-container {
    margin-bottom: 0;
  }
  .elastic-filter-container {
    border-bottom: 1px solid #AEB0B5;
  }
  .elastic-row {
    display: flex;
    flex: 1;
    max-width: 72em;
    margin: 0 auto;
    padding: .5em;
  }
  #block-elastic-search-filters {
    border: 0;
    #collapseOne {
      margin-top: 0;
      .card-block {
        margin-top: 0;
        h1 {
          margin-top: 0;
        }
        .elastic-jobs {
          background-color: #fff;
          border: .1rem solid #5b616b;
          input {
            border: none !important;
            margin: 0;
            border-radius: 0;
            color: #212121;
          }
          button {
            padding: 0;
            height: 100%;
            align-self: center;
            background-color: white !important;
          }
          i {
            background-color: #fff;
            align-self: center;
            padding-right: 10px;
            font-size: 20px;
            color: #913B2D;
          }
        }
        .elastic-sort,
        .elastic-agency {
          position: relative;
        }
      }
    }
  }
  .results-container {
    background-color: #ffffff;
    max-width: 72em;
    margin: 0 auto;
    .left-teaser-text {
      .dol-date-text {
        text-transform: capitalize;
      }
      h4 {
        text-decoration: underline;
      }
      span {
        color: #212121;
      }
    }
    h3 {
      padding: 30px 0;
    }
    .no-results {
      h3 {
        padding: 1em 0;
      }
    }
  }
  .cd-main-content {
    max-width: unset;
    padding: 0;
  }
  .elastic-below-filter {
    background-color: #ffffff;
    min-height: 50vh;
    padding-bottom: 1px;
  }
}
@media all and (max-width: 767px) {
  .elastic-search {
    .card {
      flex: 1 1 auto !important;
      .sort-container {
        flex-direction: column !important;
        .elastic-sort {
          padding-top: 1em;
          flex: 1 1 auto !important;
          flex-direction: column !important;
        }
        .elastic-agency {
          padding-top: 1em;
          flex: 1 1 auto !important;
        }
        i {
          position: absolute;
          right: 3%;
          top: 63%;
        }
      }
    }
  }
}
@media all and (min-width: 768px) {
  .elastic-search {
    .sort-container {
      padding-top: 1.5rem !important;
      .elastic-sort {
        align-items: center !important;
        label {
          padding-right: 0.5em !important;
        }
        select {
          width: 140px;
        }
        i {
          position: absolute;
          right: 7%;
        }
      }
      .elastic-agency {
        align-items: center !important;
        label {
          padding: 0 0.5rem 0 1.5rem !important;
        }
        select {
          width: 370px;
        }
        i {
          position: absolute;
          right: 3%;
        }
      }
    }
    .results {
      width: 760px;
    }
  }
}

/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  display: block;
  padding: 0 5px 5px 0;
  margin: 0;
}

.simple-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.simple-pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
span.ellipse.clickable {
  cursor: pointer;
}

.ellipse input {
  width: 3em;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
  cursor:pointer;
}

.light-theme a, .light-theme span {
  float: left;
  color: #5B616A;
  font-size: 17px !important;
  line-height:24px !important;
  font-weight: normal;
  text-align: center;
  border: 1px solid #AEB0B5 !important;
  padding: 0.4em 0.8em !important;
  background-color: #F9F9F9;
}

.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
  text-decoration: none;
  background: #FCFCFC;
}

.light-theme .current {
  background-color: #D3D3D3;
}

.light-theme .ellipse {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
  cursor: default;
}
#pagination-demo {
  min-height: 3rem;
  padding-left: 2%;
  a {
    text-decoration: none;
    color: #5B616A;
  }
}
#pager-container {
  padding: 2rem 0;
}
@media all and (max-width: 526px) {
  #pager-container {
    margin-bottom: 4rem;
  }
}